.form {
  width: 320px;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.input {
  width: 100%;
  margin-top: 6px;
  padding: 10px 12px;
  border: 2px solid #dcdcdc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #4f46e5;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #4338ca;
}